<!DOCTYPE html>
<html>
    <head>
        <title>Profiler</title>
    </head>
    <body>
        <h1>Node.js를 활용한 Profiler</h1>
        <form action="/uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">
            <input type="file" name="attachment">
            <button type="submit" class="btn btn-primary">파일 업로드</button>
        </form>
    </body>
</html>